body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

#dashboard {
    margin-bottom: 20px;
}

#yearselectordashboard {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}


button {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

svg {
    margin-top: 10px;
}

.multi-brush {
    cursor: pointer;
}

#slider-holder {
    margin-top: 50px;
}

#addBrushButton {
    padding: 5px 10px; /* Smaller button size */
    font-size: 12px; /* Smaller text */
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s;
}

#addBrushButton:hover {
    background-color: #0056b3;
}

#rangeContainer {
    margin-top: 10px;
    width: 100px;
    max-width: 100%;
    overflow-x: hidden;
}

.range-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    padding: 3px;
    border-radius: 4px;
    font-size: 12px;
}

.range-item button {
    margin-left: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.range-item button svg {
    width: 16px;
    height: 16px;
    fill: #555;
    transition: fill 0.2s;
}

.range-item button:hover svg {
    fill: #000;
}