body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

#dashboard {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

svg {
    margin-top: 10px;
}

.multi-brush {
    cursor: pointer;
}

#slider-holder {
    margin-top: 50px;
}

#rangeContainer {
    margin-top: 10px;
}

.range-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 4px;
}

.range-item button {
    margin-left: 10px;
}
